* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative;
    overflow: hidden;
}


.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.login-box {
    background-color: white;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.4);
    width: 350px;
    text-align: center;
}

h2 {
    margin-bottom: 30px;
    color: #333;
}

.input-box {
    position: relative;
    margin-bottom: 30px;
}

.input-box input {
    width: 100%;
    padding: 10px 10px;
    background: #f0f2f5;
    border: none;
    outline: none;
    border-radius: 5px;
    font-size: 16px;
    transition: 0.3s;
}

.input-box input:focus {
    background-color: #e0e4e7;
}

.input-box label {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    pointer-events: none;
    color: #999;
    transition: 0.3s;
}

.input-box input:focus ~ label,
.input-box input:valid ~ label {
    top: 0;
    transform: translateY(-100%);
    font-size: 12px;
    color: #333;
}

.login-btn {
    width: 100%;
    padding: 10px;
    background-color: #72ad28;
    border: none;
    color: white;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.login-btn:hover {
    background-color: #4d7c0f;
}

.register-link {
    margin-top: 20px;
}

.register-link a {
    text-decoration: none;
    color: #72ad28;
}

.register-link a:hover {
    color: #4d7c0f;
}
